body {
  background-color: #D5E1EF;
  font-family: "Outfit", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10vh;
}

header, footer {
  text-align: center;
  margin-top: 10vh;
}

.card {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.card-img > * {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.card-body-title {
  text-align: center;
  font-size: larger;
  padding-left: 20px;
  padding-right: 20px;
}

.card-body-paragraph {
  text-align: center;
  font-weight: small;
  padding-left: 20px;
  padding-right: 20px;
}



.container {
  display: flex;
  align-items: center;        /* Centra verticalmente los elementos */
  justify-content: center;    /* Centra horizontalmente los elementos */
  height: 70%;
}
